<header class="header">
    <img src="./assets/images/Logo.png" alt="Logo ficticio del Ayuntamiento de Cornellá de Llobregat" class="header__logo">
    <nav class="header__nav">
        <div class="header__collapse">
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__link" href="./index.html">Inicio</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="./chefs.html">Chefs</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="./informacion.html">Blog</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="./formulario.html">Apúntate</a>
                </li>
            </ul>
        </div>
    </nav>
</header>